<pre>
  <table class="u-full-width">
    <thead>
      <tr>
        <th>name</th>
        <th>Category</th>
        <th>description</th>
        <th>price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{product.name}}</td>
        <td>{{product.Category.name}}</td>
        <td>{{product.description}}</td> 
        <td>{{product.price}}</td> 
      </tr>
    </tbody>
  </table>
</pre>

<div class="section categories">
  <div class="container">
    <img class="img-fluid rounded" src="{{product.image}}">
  </div>
</div>
<br><br>